<a href="https://colab.research.google.com/github/bsrkrishna78/python_file/blob/main/Day2_Assignment_ML%26NLP_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Create a list with 5 elements
my_list = [10, 20, 30, 40, 50]
print("List:", my_list)
print("Element at index 0:", my_list[0])
print("Element at index 2:", my_list[2])
print("Element at index -1:", my_list[-1])

List: [10, 20, 30, 40, 50]
Element at index 0: 10
Element at index 2: 30
Element at index -1: 50

In [2]:
# Create a List, tuple and Dictionary with 5 elements in it and how to access few elements based on the index. Try  with different examples

# Create a tuple with 5 elements
my_tuple = (5, 10, 15, 20, 25)
print("Tuple:", my_tuple)
print("Element at index 1:", my_tuple[1])
print("Element at index 4:", my_tuple[4])
print("Element at index -2:", my_tuple[-2])

Tuple: (5, 10, 15, 20, 25)
Element at index 1: 10
Element at index 4: 25
Element at index -2: 20

In [3]:
# Create a dictionary with 5 key-value pairs
my_dict = {"name": "Alice", "age": 25, "city": "New York", "job": "Engineer", "hobby": "Reading"}
print("Dictionary:", my_dict)
print("Value for key 'name':", my_dict["name"])
print("Value for key 'city':", my_dict["city"])
print("Value for key 'age':", my_dict["age"])

Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York', 'job': 'Engineer', 'hobby': 'Reading'}
Value for key 'name': Alice
Value for key 'city': New York
Value for key 'age': 25